.section-title {
  color: #fff;
  padding-left: 20px;
}
.justify-content-center {
  display: flex;
  justify-content: center;
}
.menu #menu-flters {
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
}

.menu #menu-flters li {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  margin: 0 3px 10px 3px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border: 2px solid #ffb03b;
  border-radius: 50px;
  width: 60px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 20px 30px rgba(211, 209, 216, 0.251);
}

.menu #menu-flters li:hover,
.menu #menu-flters li.filter-active {
  color: #fff;
  background: #ffb03b;
}
.icon_filter {
  width: 55px;
  height: auto;
}
.icon_filter_item {
  width: 100%;
  height: 100%;
}
.menu #menu-flters li:last-child {
  margin-right: 0;
}
.menu-item {
  height: 248px;
  cursor: pointer;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 18.2143px 18.2143px 36.4286px rgba(211, 209, 216, 0.25);
  border-radius: 18.2143px;
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.menu .menu-content {
  flex: 1;
  height: 148px;
}
.menu .menu-content .img-food {
  border-radius: 18.2143px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 53px;
  border-bottom-left-radius: 18.2143px;
  border-bottom-right-radius: 18.2143px;
}

.menu .menu-ingredients {
  font-style: italic;
  font-size: 14px;
  font-family: "Comic Neue", sans-serif;
  line-height: 22px;
  color: #444444;
  height: 80px;
  padding: 4px;
  background-color: #fff;
  z-index: 1;
}
.titleIngredients {
  font-weight: 100;
  font-size: 18.2143px;
  line-height: 21px;
  color: #000000;
  margin: 5px 0px;
  padding-left: 10px;
}
.descriptionIngredients {
  font-weight: 400;
  font-size: 14.5714px;
  line-height: 20px;
  color: #5b5b5e;
  padding-left: 10px;
}
.price-container {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 72px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 18px;
}
.price-container .price-item {
  color: #111719;
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 992px) {
  .specials .nav-link {
    border: 0;
    padding: 15px;
  }

  .specials .nav-link.active {
    color: #fff;
    background: #ffb03b;
  }
}
