._2iLxz {
  width: 120px;
  border: none!important;
  bottom: -26px !important;
  border: 1px solid #ffb03b !important;
  z-index: 3;
  background-color: transparent !important;
  color: #db8f39 !important;
}
.poster {
  background-color: transparent !important;
}
#default-poster {
  background-color: transparent !important;

}