body {
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.child {
  height: 100%;
  border: 1px solid #3d3d3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.full {
  position: relative;
  height: 300px;
  width: 300px;
}
.App-logo {
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}

.btn-container {
  display: flex;
  justify-content: center;
}
.text_white {
  color: #eaeaef;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  margin: 5px 0px;
  line-height: 38px;
}
.text_orange {
  color: #ff7b2c;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  margin: 5px 0px;
  line-height: 38px;
}
.btn-book {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 0 10px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  color: #fff;
  border: 2px solid #ffb03b;
  background: transparent;
}

.btn-book:hover {
  background: #ffb03b;
  color: #fff;
}
.copy {
  color: #eaeaef;
  position: absolute;
  bottom: 70px;
}
@media (max-width: 768px) {
  .btn-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
}
